<!DOCTYPE html>
<html>
<frameset rows="20%,80%">
   <frame src="docker.html" scrolling="no">
   <frameset cols="20%,60%,20%">
      <frameset rows="*,*,*,*,*,*,*,*">
         <frame src="all_containers.html" scrolling="no">
         <frame src="all_images.html" scrolling="no">
         <frame src="pull.html" scrolling="no">
         <frame src="run.html" scrolling="no">
         <frame src="stop.html" scrolling="no">
         <frame src="stopped.html" scrolling="no">
         <frame src="remove_images.html" scrolling="no">
         <frame src="delete.html" scrolling="no">
      </frameset>
      <frameset rows="20%,80%" scrolling="no">
         <frame src="cli.html" scrolling="no">
         <frame src="output.html" scrolling="no">
      </frameset>
      <frameset rows="*,*,*,*,*,*,*,*">
         <frame src="all_containers.html" scrolling="no">
         <frame src="all_images.html" scrolling="no">
         <frame src="pull.html" scrolling="no">
         <frame src="run.html" scrolling="no">
         <frame src="stop.html" scrolling="no">
         <frame src="stopped.html" scrolling="no">
         <frame src="remove_images.html" scrolling="no">
         <frame src="delete.html" scrolling="no">
      </frameset>
   </frameset>
</frameset>

</html>

<!-- <html>
    <head>

    <frameset rows="15%,85%">
        <frame noresize src="frame1.html" name="f1" marginwidth="0" marginheight="0"  scrolling="no" frameborder="1">
    <frameset cols="15%,85%">
        <frame noresize src="frame2.html" name="f2" marginwidth="0" marginheight="0"  scrolling="no" frameborder="1">
    <frameset rows="8%,92%">
	<frame noresize src="frame3.html" name="f3" marginwidth="0" marginheight="0"  scrolling="no" frameborder="1">
   <frame noresize src="frame4.html" name="f4" marginwidth="0" marginheight="0"  scrolling="yes" frameborder="1">
    </frameset>
    </frameset>
    </head>
</html> -->


Read more: https://html.com/frames/#ixzz71grfw0Qz
